.cart-img {
    width: 60%;
    @include media-breakpoint-up(md) {
        width: 110px;
        height: 110px;
    }
    img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
}

.fa-trash-alt {
    color: theme-color('primary');
}
.cart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-info {
    flex-grow: 1;
    align-items: center;
    @include media-breakpoint-up(md) {
            justify-content: space-evenly;
    }
}


.input-group {
    width: auto;
}

.cart-input {
    align-items: center;
    height: 48px;
    width: 144px;
    .input-group-prepend,
    .input-group-append {
        height: 48px;
    }
}

.cart-msg {
    @include media-breakpoint-up(md) {
        background-color: theme-color('primary');
        color: white;
    }
    &-title {
        background-color: theme-color('info');
        @include media-breakpoint-up(md) {
            background-color: theme-color('primary');
            color: white;
        }
    }
}