.section-img {
    width: 100%;
    min-height: 250px;
}


.section-text {
    margin: 16px;
    line-height: 2;
    @include media-breakpoint-up(md) {
        line-height: 2.5;
    }
}

.section-break {
    @include media-breakpoint-up(md) {
        margin-top: -24px;
        margin-bottom: -24px;
    }

}

.social-img {
    @include media-breakpoint-up(md){
        width: 100px;
    }
}