@mixin text-color($color) {
    color: $color;
    &:hover,
    &:active,
    &focus {
        color: darken($color, 7.5%);
    }
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}


//將文字轉直//
.writing-vertical-md {
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl;
    }
}
//綠底白字//
.custom-primary-color {
    text-align: center;
    background: $primary;
    color: #fff;
}

//register 社交網站//
.btn-brand-light {
    @include button-variant($white, $info);
}

//加入購物車//
.btn-color {
    @include button-variant($info, $info);
    @include text-color($primary);
}

.negative-row-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.btn-font {
    font-weight: bold;
    font-size: 1.5rem;
}